LOG_LEVEL=INFO

POSTGRES_DB=auth_database
POSTGRES_USER=app
# Сгенерировать пароль: python -c "import secrets; print(secrets.token_urlsafe(64))"
POSTGRES_PASSWORD=
PGDATA=/var/lib/postgresql/data/auth_database
DB_HOST=auth_database
DB_PORT=5432

# Сгенерировать секретный ключ: python -c "import secrets; print(secrets.token_urlsafe(64))"
SECRET_KEY=

REDIS_BASE_URL=redis://auth_redis:6379
REDIS_CACHE_TTL=300

ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_DAYS=30

ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token

# Этот параметр должен быть "True" для продакшена и "False" для локального запуска
COOKIE_SECURE=

ADMIN_EMAIL=admin@admin.com
# Сгенерировать пароль: python -c "import secrets; print(secrets.token_urlsafe(12))"
ADMIN_PASSWORD=
